@model ProjectsViewModel

<partial name="Partials/Sections/_AddProjectForm" model="Model.AddProjectForm" />
<partial name="Partials/Sections/_EditProjectForm" model="Model.EditProjectForm" />
<section id="projects-section">
    <header>
        <h2>Projects</h2>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-add btn-blue">Add project</button>

        <form method="get" action="/admin/projects" style="display:inline;">
            <input type="hidden" name="showCompleted" value="@((!Model.ShowingCompleted).ToString().ToLower())" />
            <button type="submit" class="btn btn-filter btn-gray">
                @(Model.ShowingCompleted ? "Show Active Projects" : "Show Completed Projects")
            </button>
        </form>
    </header>
    @await Html.PartialAsync("Partials/Sections/_ProjectList", Model.Projects)
</section>
