@model ProjectsViewModel
<partial name="Partials/Sections/_AddProjectForm" model="Model.AddProjectForm" />
<section id="projects-section">
    <header>
        <h2>Projects</h2>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-add btn-blue">Add project</button>
    </header>
    @await Html.PartialAsync("Partials/Sections/_ProjectList", Model.Projects)
</section>
