<partial name="Partials/Sections/_ActiveUserForm"/>

<div class="btn-group">
    @if (signInManager.IsSignedIn(User))
    {
        <div class="active-user-container">
        <i class="fa-solid fa-gear"></i>
            <img class="active-user-image" src="~/images/AvatarOne.svg" alt="" data-modal="true" data-target="#activeUserModal" />
        </div>
    }
    else
    {
        <a asp-action="SignUp" asp-controller="Auth" class="btn btn-signup">Sign up</a>
        <a asp-action="SignIn" asp-controller="Auth" class="btn btn-signin"> Sign in</a>
    }

</div>
