@model Business.Models.AddProjectForm

<div id="addProjectModal" class="modal">
	<div class="modal-content">

		<div class="modal-header">
			<h3>Add Project</h3>
			<button type="button" class="btn-close" data-close="true"></button>
		</div>

		<form novalidate method="post" asp-action="create" asp-controller="Projects">
			
			<div class="form-group">
				<label asp-for="ProjectName"></label>
				<div class="field-group">
					<input asp-for="ProjectName" />
					<span asp-validation-for="ProjectName"></span>
				</div>
			</div>
			

			<button type="submit" class="btn btn-submit btn-blue">Create</button>
		</form>

	</div>
</div>