@model UserSignInForm

@{
	ViewData["Title"] = "Sign Up";
}

<div id="signup">
	<form id="signin-form" asp-action="SignIn" asp-controller="Auth" method="post" novalidate>
		<div>
			<label asp-for="Email"></label>
			<div>
				<input asp-for="Email" />
				<span asp-validation-for="Email"></span>
			</div>
		</div>
		<div>
			<label asp-for="Password"></label>
			<div>
				<input asp-for="Password" />
				<span asp-validation-for="Password"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="notification-error">
				@ViewData["ErrorMessage"]
			</div>
		</div>


		<button type="submit" class="btn btn-submit">Sign In</button>
	</form>
</div>

